attrs==20.3.0
Brotli==1.0.9
certifi==2020.6.20
cffi==1.14.3
click==7.1.2
dash==0.36.0
dash-core-components==0.43.0
dash-html-components==0.13.5
dash-renderer==0.17.0
decorator==4.4.2
gunicorn==19.9.0
idna==2.7
importlib-metadata==2.0.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jsonschema==3.2.0
jupyter-core==4.6.3
MarkupSafe==1.1.1
nbformat==5.0.8
numpy==1.19.4
pandas==1.1.4
plotly==2.2.2
pycparser==2.20
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.4
pywin32==300
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
traitlets==5.0.5
Werkzeug==1.0.1
wincertstore==0.2
zipp==3.4.0